{{ url }} {
   reverse_proxy localhost:8080
}

pi.{{ url }} {
   reverse_proxy localhost:81
}

sync.{{ url }} {
   reverse_proxy localhost:8384
}

jelly.{{ url }} {
   reverse_proxy localhost:8096
}

trans.{{ url }} {
   reverse_proxy localhost:9091
}

next.{{ url }} {
   reverse_proxy localhost:8081
}

meal.{{ url }} {
   reverse_proxy localhost:9925
}
